@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0%;
    font-family:'Poppins', sans-serif;
    background-color: whitesmoke;
}

h1{
    /* display: flex; */
    text-align: center;
    padding: 20px;
    background-color: rgb(122, 53, 212);
    color: whitesmoke;
}


